<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <property name="app.name" value="${APP_NAME}"/>
    <property name="log.pattern"
              value="[%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}][${HOSTNAME}][%p][%t][%c{1}][%X{x-trace-id:-none}] - %m%n"/>
    <property name="charset" value="UTF-8"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${charset}</charset>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="asyncConsole" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="console"/>
    </appender>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="asyncConsole"/>
    </logger>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
        <appender-ref ref="asyncConsole"/>
    </logger>
    <logger name="org.springframework.transaction" level="INFO" additivity="false">
        <appender-ref ref="asyncConsole"/>
    </logger>
    <logger name="org.springframework.orm.jpa" level="DEBUG" additivity="false">
        <appender-ref ref="asyncConsole"/>
    </logger>
    <logger name="org.springframework.jdbc.datasource" level="INFO" additivity="false">
        <appender-ref ref="asyncConsole"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="asyncConsole"/>
    </root>
</configuration>
